<script id="customer" type="text/html">
    <!-- ko withProperties: { page: $data }-->
    <appheader class="bg-grayDarker" params="{ title: title}"></appheader>
    <!-- /ko -->
    Almost ordered articles:
    <table style="color: black">
        <thead>
            <tr>
                <td><strong>Article</strong></td>
                <td style="padding: 0 15px;"><strong>Removed at</strong></td>
                <td><strong>How long before ordering</strong></td>
            </tr>
        </thead>
        <tbody data-bind="foreach: almostOrderedArticles">
            <tr>
                <td>{{articlenumber}}</td>
                <td style="padding: 0 15px;">{{moment(removedAt).format('MM.DD.YYYY HH:mm:ss')}}</td>
                <td>{{timespan}}</td>
            </tr>
        </tbody>
    </table>
</script>
