<script id="tile" type="text/html">
    <div class="tile double" data-click="transform" data-bind="noop: $.Metro.initTileTransform($element)">
        <div class="tile-content fg-white" data-bind="css: 'bg-' + ko.unwrap(backgroundColor)">
            <!-- ko foreach: texts -->
            <div class="text">{{$data}}</div>
            <!-- /ko -->
            <div class="brand">
                <div class="label">{{footer}}</div>
            </div>
        </div>
    </div>
</script>
