<script id="login" type="text/html">
    <div class="login">
        <div>
            <h1>Login</h1>
            <form data-bind="submit: $commit.bind(null, $data)" style="width: 250px;text-align: right;">
                <fieldset>
                    <input-text params="value: username, placeholder: 'Username'"></input-text>
                    <br />
                    <input-password params="value: password, placeholder: 'Password'"></input-password>
                    <button type="submit" class="bg-green fg-white"><span class="fa fa-lock"></span></button>
                </fieldset>
            </form>
        </div>
    </div>
</script>
