<script id="customers-overview" type="text/html">
    <!-- ko withProperties: { page: $data }-->
    <appheader class="bg-grayDarker" params="{title: 'Customers',
                entries: [ { template: 'customer-create', title: 'New Customer' } ]}">
    </appheader>
    <div style="padding: 10px;">
        <input data-bind="value: searchTerm" placeholder="Search" />

        <div style="padding-top: 10px;" data-bind="foreach: results">
            <tile params="footer: name" data-bind="click: page.open.bind(null, $data)"></tile>
        </div>
    </div>
    <!-- /ko -->
</script>

<script id="customer-create" type="text/html">
    <a class="element" data-bind="dialog: { title: 'New Customer', childTemplate: 'customer-create-form', data: page.getCreateCustomerData }">
        <span class="fa fa-plus-circle"></span> {{title}}
    </a>
</script>
<script id="customer-create-form" type="text/html">
    <form data-bind="submit: $commit.bind(null, $data)" style="width: 300px">
        <input-text params="value: name, label: 'Customer name', placeholder: 'Customer name'"></input-text>
        <button><span class="fa fa-check-square fg-green"></span></button>
    </form>
</script>
