<script id="appheader" type="text/html">
    <div class="navigation-bar">
        <div class="navbar-content">
            <a href="#" class="element" data-bind="html: ko.unwrap(title)"></a>

            <!-- ko foreach: entries -->
            <!-- ko component: { name: componentName, params: $data } --> <!-- /ko-->
            <!-- /ko-->
            <button class="element image-button image-left place-right">
                Username <img />
            </button>
        </div>
    </div>
</script>
